.download {
    font-family: 'Instrument Sans', sans-serif;
}

.download .download-title h1 {
    font-size: clamp(48px, calc(16px + 10vw), 90px);
    line-height: 1.07em;
    font-weight: 700;
    text-align: center;
    margin: clamp(40px, calc(20px + 8vw), 85px) 0px 0px 0px;
}

.download .download-title h2 {
    font-size: clamp(16px, calc(8px + 3vw), 33px);;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

.download .download-instructions-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 0px calc(7vw - 48px) calc(7vw - 52px) calc(7vw - 48px);
}

.download .download-instructions-container .download-instructions {
    flex-grow: 1;
    width: 100%;
    margin: 15px;
    border-radius: 18px;
    padding: 24px 28px;
}

.download .download-instructions-container .download-instructions h2 {
    font-size: 42px;
    font-weight: 500;
    margin: 0px;
}

.download .download-instructions-container .download-instructions p {
    font-size: 21px;
    font-weight: 450;
    margin: 18px 0px;
}

.download .download-instructions-container .download-instructions p:last-child {
    margin: 0px;
}

.download .download-instructions-container .download-instructions.ios {
    background-color: #e1efff;
}

.download .download-instructions-container .download-instructions.android {
    background-color: #d9f6dc;
}

@media screen and (max-width: 1111px) {
    .download .download-instructions-container {
        flex-direction: column;
        margin: 0px calc(8vw - 23px) calc(6vw - 16px) calc(8vw - 23px);
    }

    .download .download-instructions-container .download-instructions {
        flex-grow: 1;
        width: calc(100% - 30px);
        margin: 15px;
        border-radius: 18px;
    }

    .download .download-instructions-container .download-instructions h2 {
        font-size: clamp(30px, calc(16px + 5vw), 42px);
        font-weight: 500;
        margin: 0px;
    }
}