.guide .city {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.guide .city .overview {
    margin: 38px;
    width: calc(100% - 76px);
}
.guide .city .hotels {
    margin: 0px 38px 38px 38px;
    width: calc(100% - 76px);
}

.guide .city .title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: calc(3vh + 8vw + 20px) 1px;
    width: 100%;
    color: white;
}

.guide .city .title h1 {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 690;
    font-size: 56px;
    line-height: 1em;
    text-align: center;
    margin: 0;
}

.guide .city .overview {
    padding-bottom: 33px;
    border-bottom: 3px solid rgb(188, 188, 188);
    max-width: 1500px;
}

.guide .city .overview::after {
  content: "";
  display: table;    /* creates a block formatting context */
  clear: both;       /* clears left & right floats */
}

.guide .city .overview h2 {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 46px;
    line-height: 1em;
    margin: 0px 0px 27px 0px;
}

.guide .city .overview p {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.guide .city .overview p:last-child {
    margin-bottom: 0;
}

.guide .city .overview img.img-right.desktop {
    float: right;
    width: min(50%, 500px);
    padding-top: 5px;
    margin: 0px 0px 20px 20px;
}

.guide .city .overview img.img-right.mobile {
    display: none;
}

.guide .city .hotels h2 {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 46px;
    line-height: 1em;
    margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 700px) {
    .guide .city .overview img.img-right.desktop {
        display: none;
    }

    .guide .city .overview img.img-right.mobile {
        display: block;
        float: none;
        width: 100%;
        padding-top: 0;
        margin: 0px;
    }
}

@media screen and (max-width: 420px) {
    .guide .city .overview {
        padding-bottom: 28px;
        border-bottom: 3px solid rgb(188, 188, 188);
    }

    .guide .city .overview {
        margin: 30px;
        width: calc(100% - 60px);
    }
    .guide .city .hotels {
        margin: 0px 30px 30px 30px;
        width: calc(100% - 60px);
    }
    .guide .city .overview p {
        font-family: 'Instrument Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    .guide .city .title h1 {
        font-size: 46px;
    }
    .guide .city .overview h2, .guide .city .hotels h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 350px) {
    .guide .city .overview {
        margin: 22px;
        width: calc(100% - 46px);
    }
    .guide .city .hotels {
        margin: 0px 22px 22px 22px;
        width: calc(100% - 46px);
    }
    .guide .city .overview p {
        font-family: 'Instrument Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    .guide .city .title h1 {
        font-size: 46px;
    }
    .guide .city .overview h2, .guide .city .hotels h2 {
        font-size: 38px;
    }
}

.guide .city .hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}

.guide .city .hotels .hotel {
    position: relative;
    text-decoration: none;
    color: black;
    display: block;
    flex-direction: column;
    padding: 32px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 36px 0px 0px;
    font-family: 'Instrument Sans', sans-serif;
    max-width: 900px;
    width: 100%;
}

.guide .city .hotels .hotel:hover {
    bottom: 3px;
    right: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.guide .city .hotels .hotel h3 {
    font-size: 35px;
    padding-bottom: 18px;
    border-bottom: 3px solid rgb(188, 188, 188);
    margin: 0;
}

.guide .city .hotels .hotel p {
    font-size: 20px;
    margin-bottom: 1.18em;
}

@media screen and (max-width: 700px) {

    .guide .city .hotels {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .guide .city .hotels .hotel {
        margin: 33px 20px 0px;
        padding: 28px;
    }
    .guide .city .hotels .hotel h3 {
        font-size: 32px;
        margin: 0;
    }

    .guide .city .hotels .hotel .image-carousel {
        padding: 0;
    }
}

@media screen and (max-width: 460px) {
    .guide .city .hotels .hotel {
        margin: 33px 0px 0px;
        padding: 20px;
    }
    .guide .city .hotels .hotel h3 {
        font-size: 30px;
        overflow-wrap: break-word;
        margin: 0;
    }

    .guide .city .hotels .hotel p {
        font-size: 18px;
        margin-bottom: 1.18em;
    }

    .guide .city .hotels .hotel .image-carousel .container .arrow {
        padding: 8px 12px 10px 12px;
    }
}

@media screen and (max-width: 360px) {
    .guide .city .hotels .hotel h3 {
        font-size: 29px;
        overflow-wrap: break-word;
        margin: 0;
    }
}