.landing .hero {
    background-image: url('../imgs/hero-image.png');
    height: 100vh;
    height: 100svh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 66% 30%;
}

.landing .hero .hero-text {
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.landing .hero .hero-text .title {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 112px;
    padding: 0;
    line-height: 0.6em;
}

.landing .hero .hero-text .subtitle {
    font-family: "Alegreya Sans SC", sans-serif;
    padding: 0;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 32px;
}

@media screen and (max-width: 620px) {

    .landing .hero .hero-text .title {
        font-size: clamp(85px, calc(52px + 10vw), 112px);
    }   

    .landing .hero .hero-text .subtitle {
        font-size: clamp(29px, calc(28px + 1vw), 32px);
    }
}

/* section */

.landing .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Instrument Sans', sans-serif;
    padding: 24px;
}

.landing .section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1440px;
    padding-bottom: 30px;
}

.landing .section-header{
    font-size: 63px;
    line-height: 1em;
    margin: 0px;
}

.landing .section-content {
    font-size: 21px;
}

.landing .section-content-container{
    padding: 30px;
}

.landing .section-content-container a {
    display: inline-block;
    padding: 18px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.landing .section-image{
    border-radius: 22px;
    width: clamp(397.2px, calc(570px - 12vw), 570px);
    height: clamp(357.2px, calc(670px - 20vw), 520px);
    margin: 30px 30px 30px 0px;
}

.landing .section2 {
    padding: 30px 30px 30px 30px;
}

.landing .section2 .section-header{
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 1083px) {
    .landing .section-header{
        font-size: 56px;
        margin: 0px 0px 15px 0px;
    }
    
    .landing .section-content {
        font-size: 20px;
        line-height: 24px;
    }
    
    .landing .section-content-container{
        padding: 20px;
    }
    
    .landing .section-image{
        border-radius: 22px;
        width: 360px;
        height: calc(800px - 36vw);
        object-fit: cover;
        margin: 30px 30px 30px 10px;
    }
}

@media screen and (max-width: 938px) {
    .landing .section{
        flex-direction: column;
    }

    .landing .content {
        padding: 20px;
    }

    .landing .section-header {
        font-size: clamp(31px, calc(28px + 3vw), 56px);
        margin: 0px 0px 1px 0px;
    }

    .landing .section-content {
        font-size: clamp(19px, calc(15px + 1vw), 22px);
        line-height: 24px;
    }

    .landing .section-image{
        border-radius: 22px;
        width: 100%;
        height: 380px;
        object-fit: cover;
        margin: 0px;
    }

    .landing .section-image-container{
        width: 100%;
        padding: 10px 20px 20px 20px;
    }

    .landing .section2{
        padding: 20px 20px 24px 20px;
    }

    .landing .section-content-container {
        padding: 20px;
    }
}

@media screen and (max-width: 420px) {
    .landing .section2{
        padding: 10px 10px 28px 10px;
    }

    .landing .section-content-container {
        padding: 10px;
    }

    .landing .section-image-container {
        padding: 10px;
    }

    .landing .section-content {
        font-size: clamp(17px, calc(5px + 3vw), 20px);
        line-height: 1.1em;
        margin-top: 0.85em;
    }

    .landing .section-image{
        border-radius: 22px;
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin: 0px;
    }

    .landing .section-content-container a {
        padding: 12px;
        font-size: 19px;
    }
}

/* scroll to explore section */

.landing .scrollToExplore-container{
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    left: 50%;
    top: calc(100vh - 128px);
    top: calc(100svh - 128px);
    transform: translateX(-50%);
    text-align: center;
}


.landing .scrollToExplore-text{
    color: white;
    font-size: 21px;
    padding-bottom: 5px;
}


.landing .arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.landing .arrow span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    margin: -6px;
    animation: landing-arrow-animation 3s infinite;
}

.landing .arrow span:nth-child(2) {
    animation-delay: -0.3s;
}

.landing .arrow span:nth-child(3) {
    animation-delay: -0.6s;
}

@keyframes landing-arrow-animation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-11px, -11px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(2px, 2px);
    }
}