.trail-preview .trail-preview-content {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    border-radius: 22px;
    margin: auto;
    max-width: 1000px;
    height: 100%;
    font-family: 'Instrument Sans', sans-serif;
}

.trail-preview a {
    text-decoration: none;
    color: black;
}

.trail-preview .trail-preview-content .preview-title{
    font-size: 42px;
    line-height: 1.1em;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

.trail-preview .trail-preview-content .preview-content{
    margin-top: 0;
    font-size: clamp(18px, calc(11px + 2vw), 24px);
    margin-bottom: 0;
}

.trail-preview .trail-preview-content .preview-top{
    padding: 28px;
    display: flex;
    flex-direction: row;
}

.trail-preview .trail-preview-content .preview-image{
    max-height: 500px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.trail-preview .trail-preview-content .preview-image-container{
    margin-left: auto;
    height: auto;
    flex-grow: 1;
}

.trail-preview .trail-preview-content .preview-content-container{
    width: 90%;
    flex-grow: 1;
    margin-right: 24px;
}

.trail-preview .trail-preview-content .likes-image{
    width: 22px;
    height: 22px;
    margin: auto 5px;
}

.trail-preview .trail-preview-content .info{
    font-size: 1.5rem;
    margin: 0;
}

.trail-preview .trail-preview-content .border{
    border-radius: 8px;
    margin: 20px 23px;
}

.trail-preview .trail-preview-content .likes-container{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
}
.trail-preview .trail-preview-content .difficulty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 24px 18px 18px;
}

.trail-preview .trail-preview-content .difficulty-container .info {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.trail-preview .trail-preview-content .difficulty-container .info.advanced {
    background-color: rgb(255, 186, 161);
}

.trail-preview .trail-preview-content .info-container {
    margin-left: auto;
}

.trail-preview .trail-preview-content .preview-bottom{
    display: flex;
    flex-direction: row;
    background-color: #fff6ed;
    border-radius: 0px 0px 22px 22px;
}

.trail-preview .trail-preview-content .btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.trail-preview .trail-preview-content .btn-primary{
    color: white;
    display: inline-block;
    background-color: var(--primary-color);
}

@media screen and (max-width: 908px) {
    .trail-preview .trail-preview-content .preview-top{
        flex-direction: column;
    }

    .trail-preview .trail-preview-content .preview-content-container{
        width: 100%;
        margin-right: 0px;
    }

    .trail-preview .trail-preview-content .info-container {
        display: none;
    }

    .trail-preview .trail-preview-content .preview-image-container{
        margin-left: 0px;
        margin-top: 24px;
        height: calc(24vw + 60px);
        flex-grow: 0;
    }

    .trail-preview .trail-preview-content .preview-image{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
}

@media screen and (max-width: 575px) {
    .trail-preview .trail-preview-content .preview-top{
        padding: 24px;
    }

    .trail-preview .trail-preview-content .border{
        border-radius: 8px;
        margin: 20px;
    }

    .trail-preview .trail-preview-content .likes-container{
        display: flex;
        flex-direction: row;
        margin-right: 0px;
    }

    .trail-preview .trail-preview-content .preview-image{
        border-radius: 16px;
    }

    .trail-preview .trail-preview-content .preview-image-container{
        margin-top: 19px;
        height: calc(27vw + 50px);
    }

    .trail-preview .trail-preview-content .preview-title{
        font-size: clamp(28px, calc(9px + 6vw), 38px);
        font-weight: normal;
        margin: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 439px) {
    .trail-preview .trail-preview-content .preview-top{
        padding: 19px;
    }

    .trail-preview .trail-preview-content .preview-title{
        line-height: 1.07em;
    }

    .trail-preview .trail-preview-content .border{
        margin: 15px;
    }

    .trail-preview .trail-preview-content .preview-image-container{
        margin-top: 18px;
        height: calc(33vw + 10px);
    }

    .trail-preview .trail-preview-content .preview-image{
        border-radius: 12px;
    }

    .trail-preview .trail-preview-content .likes-container{
        margin-right: 0px;
    }

    .trail-preview .trail-preview-content .preview-content{
        font-size: clamp(17px, calc(8px + 2vw), 24px);
    }
}