.walk .home-navbar-auth {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}

.walk .container {
    padding-top: 65px;
}

.walk .container .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 24px 24px 12px 24px;
    /* background-color: rgb(243, 243, 243); */
}

.walk .container .top h1 {
    margin: 0px 10% 10px 0px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1em;
}

.walk .container .top .steps-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2px;
    margin-bottom: 10px;
    min-width: 280px;
    flex-grow: 1;
}

.walk .container .top .steps-counter p {
    font-size: 23px;
    font-weight: 400;
    margin: 0px 10px 0px 0px;
    font-family: "Alegreya Sans SC", sans-serif;
    width: max-content;
}

.walk .container .top .steps-counter .progress-bar-container {
    flex-grow: 1;
    height: 30px;
    border-radius: 8px;
    border: 3px solid black;
}

.walk .container .top .steps-counter .progress-bar-container .progress-bar {
    height: 100%;
    background-color: #9cb3be;
    border-radius: 5px;
}

.walk .container .middle {
    padding: 42px;
}

.walk .container .middle h2 {
    font-size: 46px;
    margin-top: 0;
    line-height: 1em;
    margin-bottom: 12px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle p {
    font-size: 22px;
    margin: 16px 0px 20px 0px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle img {
    float: right;
    width: 42%;
    min-height: 280px;
    object-fit: cover;
    margin: 0px 0px 24px 24px;
    border-radius: 8px;
}

.walk .container .middle #google_translate_element {
    font-size: 18px;
    padding-bottom: 2px;
    margin-bottom: 16px;
}

.walk .container .middle #google_translate_element select {
    font-size: 18px;
}

.walk .container .middle #google_translate_element img {
    float: none;
    width: 56px;
    min-height: 22px;
    object-fit: contain;
    margin: 0;
    padding: 2px 0px 0px 0px;
    border-radius: 0px;
}

.walk .container .middle #google_translate_element div {
    font-size: 16px;
}

.walk .container .middle #google_translate_element a {
    font-size: 16px;
}

.walk .container .middle .tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 19px 0 12px 0;
    /* max-width: 50%; */
    width: 100%;
    background-color: rgb(221, 243, 255);
    padding: 8px;
    border: 5px solid rgb(171, 219, 245);
    border-radius: 18px;
}

.walk .container .middle .help {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 25px 0;
    /* max-width: 50%; */
    width: 100%;
    background-color: rgb(255, 241, 221);
    padding: 12px;
    border: 5px solid rgb(245, 209, 171);
    border-radius: 18px;
}

.walk .container .middle .tip img {
    float: none;
    width: 50px;
    margin: 0 12px 0px 0px;
    border-radius: 8px;
    min-height: auto;
}

.walk .container .middle .help img {
    float: none;
    width: 45px;
    margin: 0 12px 0px 0px;
    border-radius: 8px;
    min-height: auto;
}

.walk .container .middle .tip p, .walk .container .middle .help p {
    font-size: 20px;
    margin: 0;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle button {
    padding: 12px 2px;
    width: 210px;
    border: 0;
    border-radius: 6px;
    margin-right: 16px;
    margin-bottom: 8px;
    background-color: #9cb3be;
    color: white;
    font-size: 20px;
    font-family: 'Instrument Sans', sans-serif;
    user-select: none;
}

.walk .container .bottom {
    padding: 24px 42px 46px 42px;
}

.walk .container .bottom h2{
    font-size: 38px;
    margin-top: 0;
    line-height: 1em;
    text-align: center;
    margin-bottom: 28px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .bottom .map-embed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.walk .container .bottom .map-embed iframe{
    max-width: 1000px;
    border-radius: 10px;
}

.walk .container .middle img.narrow-layout {
    display: none;
}

.walk .container .middle .walk-stats {
    margin-bottom: 26px;
    display: flex;
    width: fit-content;
}

.walk .container .middle .walk-stats p:last-child {
    margin-left: 10px;
}

.walk .container .middle .walk-stats p {
    margin: 0;
    width: fit-content;
    background-color: rgb(240, 240, 240);
    padding: 12px;
    border-radius: 18px;
    text-align: center;
}

.walk .container .bottom .affiliates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.walk .container .bottom h1 {
    text-align: center;
    font-size: 46px;
    margin: 8px 0 0 0;
    font-family: 'Instrument Sans', sans-serif;
}

@media screen and (max-width: 750px) {
    .walk .wide-layout {
        display: none;
    }

    .walk .container .middle img.narrow-layout {
        display: block;
        float: none;
        width: 100%;
        min-height: 280px;
        max-height: 500px;
        object-fit: cover;
        margin: 24px 0px 20px 0px;
        border-radius: 8px;
    }

    .walk .container .middle .tip {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 21px 0 12px 0;
        max-width: 100%;
        background-color: rgb(221, 243, 255);
        padding: 8px;
        border: 5px solid rgb(171, 219, 245);
        border-radius: 18px;
    }

    .walk .container .middle .help {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 8px 0 25px 0;
        max-width: 100%;
        background-color: rgb(255, 241, 221);
        padding: 12px;
        border: 5px solid rgb(245, 209, 171);
        border-radius: 18px;
    }

    .walk .container .middle button {
        width: calc(50% - 8px);
        padding: 12px 2px;
    }

    .walk .container .middle button.start-button {
        width: calc(100%);
        padding: 12px 2px;
    }

    .walk .container .middle button:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .walk .container .middle {
        padding: 32px;
    }
    .walk .container .bottom {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 350px) {
    .walk .container .middle {
        padding: 30px;
    }
    .walk .container .bottom {
        padding-left: 30px;
        padding-right: 30px;
    }
}