.walk .home-navbar-auth {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}

.walk .container {
    margin-top: 65px;
}

.walk .container .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    /* background-color: rgb(243, 243, 243); */
}

.walk .container .top h1 {
    margin: 0px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1em;
}

.walk .container .top .steps-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.walk .container .top .steps-counter p {
    font-size: 23px;
    font-weight: 400;
    margin: 0px 10px;
    font-family: "Alegreya Sans SC", sans-serif;
    width: max-content;
}

.walk .container .top .steps-counter .progress-bar-container {
    width: 350px;
    height: 30px;
    border-radius: 8px;
    border: 3px solid black;
}

.walk .container .top .steps-counter .progress-bar-container .progress-bar {
    height: 100%;
    background-color: #9cb3be;
    border-radius: 5px;
}

.walk .container .middle {
    padding: 42px;
}

.walk .container .middle h2 {
    font-size: 46px;
    margin-top: 0;
    line-height: 1em;
    margin-bottom: 18px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle p {
    font-size: 22px;
    margin: 16px 0px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle img {
    float: right;
    width: 42%;
    min-height: 280px;
    object-fit: cover;
    margin: 0px 0px 24px 24px;
    border-radius: 8px;
}

.walk .container .middle .tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 12px 0;
    max-width: 50%;
}

.walk .container .middle .help {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 25px 0;
    max-width: 50%;
}

.walk .container .middle .tip img, .walk .container .middle .help img {
    float: none;
    width: 46px;
    margin: 0 8px 0px 0px;
    border-radius: 8px;
    min-height: auto;
}

.walk .container .middle .tip p, .walk .container .middle .help p {
    font-size: 20px;
    margin: 0;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .middle button {
    padding: 12px 63px;
    width: 210px;
    border: 0;
    border-radius: 6px;
    margin-right: 16px;
    background-color: #9cb3be;
    color: white;
    font-size: 20px;
    font-family: 'Instrument Sans', sans-serif;
    user-select: none;
}

.walk .container .bottom {
    padding: 24px 42px 42px 42px;
}

.walk .container .bottom h2{
    font-size: 38px;
    margin-top: 0;
    line-height: 1em;
    text-align: center;
    margin-bottom: 28px;
    font-family: 'Instrument Sans', sans-serif;
}

.walk .container .bottom .map-embed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.walk .container .bottom .map-embed iframe{
    max-width: 1000px;
    border-radius: 10px;
}

.walk .container .middle img.narrow-layout {
    display: none;
}

@media screen and (max-width: 750px) {
    .walk .wide-layout {
        display: none;
    }

    .walk .container .middle img.narrow-layout {
        display: block;
        float: none;
        width: 100%;
        min-height: 280px;
        max-height: 500px;
        object-fit: cover;
        margin: 24px 0px 20px 0px;
        border-radius: 8px;
    }
}