/* everything */

:root{
    --primary-color: #9cb3be
}


* {
    font-family: "Alegreya Sans SC", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* making everything the font for some reason the code above doesn't do it */
/* Landing.js */

.landing nav {
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: center;
    height: 60px;
    width: 100%;
    transition: 0.35s;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0);
}

.landing .nav.scrolled {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.landing nav a {
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    color: inherit;
}

.landing nav a:first-child {
    margin-right: auto;
    padding: 15px 10px 10px 15px;
}

.landing nav a:first-child img {
    margin-right: auto;
    height: 35px;
}

.landing nav a:first-child img.dark {
    margin-right: auto;
    height: 35px;
    filter: brightness(0);
}

.landing .hero {
    background-image: url('./imgs/hero-image.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .hero .hero-text {
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.landing .hero .hero-text .title {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 110px;
    padding: 0;
    line-height: 0.6em;
}

.landing .hero .hero-text .subtitle {
    font-family: "Alegreya Sans SC", sans-serif;
    padding: 0;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2em;
}

/* section */

.landing .section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landing .section-header{
    font-size: 4rem;
}

.landing .section-content{
    font-size: 1.2rem;
}

.landing .section-content-container{
    padding: 30px;
}

.landing .section-image{
    width: 100%;
    border-radius: 22px;
}

.landing .section-image-container{
    padding: 50px 100px;
    min-height: 505px;
}




/* STEVEEEEENNN these do NOT work, bruh nothing works */

@media screen and (max-width: 1135px) {
    .landing .section-image-container{
        padding: 70px 20px;
    }

}

    
@media screen and (max-width: 753px) {
    .landing .section{
        flex-direction: column;
    }
}


.landing .header{
    font-size: 4rem;
    text-align: center;
}

.landing .preview{
    border: 4px solid black;
    border-radius: 22px;
    margin: auto;
    max-width: 1000px;
}

.landing .preview-title{
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.landing .preview-content{
    margin-top: 0;
    font-size: 1.5rem;
}

.landing .preview-top{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.landing .preview-image{
    width: 300px;
    height: 300px;
    border-radius: 22px;
}

.landing .preview-image-container{
    margin-left: auto;
}

.landing .preview-content-container{
    width: 600px;
}

.landing .likes-image{
    width: 30px;
    height: 30px;
    margin: auto 10px;
}

.landing .info{
    font-size: 1.5rem;
    margin: 0;
}

.landing .border{
    border: 3px solid black;
    border-radius: 8px;
    padding: 14px;
    margin: 20px;
    
}

.landing .likes-container{
    display: flex;
    flex-direction: row;
}

.landing .preview-bottom{
    display: flex;
    flex-direction: row;
}


.landing .btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.landing .btn-primary{
    color: white;
    background-color: var(--primary-color);
}


/* scroll to explore section */

.landing .scrollToExplore-container{
    position: absolute;
    left: 50%;
    top: 82vh;
    transform: translateX(-50%);
    text-align: center;
}


.landing .scrollToExplore-text{
    color: white;
    font-size: 21px;
    padding-bottom: 5px;
}


.landing .arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.landing .arrow span {
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    margin: -6px;
    animation: landing-arrow-animation 3s infinite;
}

.landing .arrow span:nth-child(2) {
    animation-delay: -0.3s;
}

.landing .arrow span:nth-child(3) {
    animation-delay: -0.6s;
}

@keyframes landing-arrow-animation {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-11px, -11px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(2px, 2px);
    }
}


.signup{
    background-image: url(./imgs/pexels-lastly-1022479.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.signup h1{
    margin: 0;
}


/* login  */

.login .input-title{
    text-align: center;
}

.signup .input-title{
    text-align: center;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.signup form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.login form input{
    margin: 7px 0;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.signup form input{
    margin: 7px 0;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login form button{
    margin: 7px 0;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding: 5px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup form button{
    margin: 7px 0;
    border-radius: 4px;
    outline: 0;
    border: 0;
    padding: 5px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login form button:hover{
    background-color: var(--primary-color);
    transition: 0.3s;
}

.signup form button:hover{
    background-color: var(--primary-color);
    transition: 0.3s;
}

.centre{
    text-align: center;
}