/* everything */

:root{
    --primary-color: #9cb3be
}


* {
    font-family: "Alegreya Sans SC", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

/* making everything the font for some reason the code above doesn't do it */
/* Landing.js */

.landing nav {
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: center;
    height: 60px;
    width: 100%;
    transition: 0.35s;
}

.landing nav a {
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    color: inherit;
}

.landing nav a:first-child {
    margin-right: auto;
    padding: 15px 10px 10px 15px;
}

.landing nav a:first-child img {
    margin-right: auto;
    height: 35px;
}

.landing .hero {
    background-image: url('./imgs/hero-image.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .hero .hero-text {
    position: absolute;
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.landing .hero .hero-text .title {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 110px;
    padding: 0;
    line-height: 0.6em;
}

.landing .hero .hero-text .subtitle {
    font-family: "Alegreya Sans SC", sans-serif;
    padding: 0;
    font-weight: 400;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2em;
}

/* section */

.section{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-header{
    font-size: 4rem;
}

.section-content{
    font-size: 1.2rem;
}

.section-content-container{
    padding: 30px;
}

.section-image{
    width: 100%;
    border-radius: 22px;
}

.section-image-container{
    padding: 50px 100px;
    min-height: 505px;
}




/* STEVEEEEENNN these do NOT work, bruh nothing works */

@media screen and (max-width: 1135px) {
    .section-image-container{
        padding: 70px 20px;
    }

}

    
@media screen and (max-width: 753px) {
    .section{
        flex-direction: column;
    }
}


.header{
    font-size: 4rem;
    text-align: center;
}

.preview{
    border: 4px solid black;
    border-radius: 22px;
    margin: auto;
    max-width: 1000px;
}

.preview-title{
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.preview-content{
    margin-top: 0;
    font-size: 1.5rem;
}

.preview-top{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.preview-image{
    width: 300px;
    height: 300px;
    border-radius: 22px;
}

.preview-image-container{
    margin-left: auto;
}

.preview-content-container{
    width: 600px;
}

.likes-image{
    width: 30px;
    height: 30px;
    margin: auto 10px;
}

.info{
    font-size: 1.5rem;
    margin: 0;
}

.border{
    border: 3px solid black;
    border-radius: 8px;
    padding: 14px;
    margin: 20px;
    
}

.likes-container{
    display: flex;
    flex-direction: row;
}

.preview-bottom{
    display: flex;
    flex-direction: row;
}


.btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.btn-primary{
    color: white;
    background-color: var(--primary-color);
}


/* scroll to explore section */

.scrollToExplore-container{
    position: absolute;
    left: 50%;
    top: 550%;
    transform: translateX(-50%);
    text-align: center;
}


.scrollToExplore-text{
    color: white;
    font-size: 1.2rem;

}


.arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(135deg);
    margin: -10px;
    animation: animate 4s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.4s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.8s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}
